.img{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }

  /*  */
  body{
    padding-bottom:  1em;
    background: #ecf0f4;
   
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    /* color: #222; */
   /*  color: #00A27F !important; */
  }
  .container{
    max-width: 1230px;
    width: 100%;
  }
  
  h1{
    font-weight: 700;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #00A27F !important; 
  }
  
  .header{
    margin-bottom: 80px;
  }
  #description{
    font-size: 24px;
  }
  
  .form-wrap{
    background: rgba(255,255,255,1);
    width: 100%;
    max-width: 850px;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  .form-wrap:before{
    content: "";
    width: 90%;
    height: calc(100% + 60px);
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: -30px;
    background: #00A27F;
    z-index: -1;
    opacity: 0.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  .form-group{
    margin-bottom: 25px;
  }
  .form-group > label{
    display: block;
    font-size: 18px;	
    color: #000;
  }
  .custom-control-label{
    color: #000;
    font-size: 16px;
  }
  .form-control{
    height: 50px;
    background: #ecf0f4;
    border-color: transparent;
    padding: 0 15px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #373737 !important; 
  }
  .form-control:focus{
    border-color: #68C0BD;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  }
  textarea.form-control{
    height: 160px;
    padding-top: 15px;
    resize: none;
  }
  
  .btn{
    padding: .657rem .75rem;
    font-size: 18px;
    letter-spacing: 0.050em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #00bcd9;
    border-color: #00bcd9;
  }
  
  .btn-primary:hover {
    color: #00bcd9;
    background-color: #ffffff;
    border-color: #00bcd9;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  }
  
  .btn-primary:focus, .btn-primary.focus {
    color: #00bcd9;
    background-color: #ffffff;
    border-color: #00bcd9;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #00bcd9;
    background-color: #ffffff;
    border-color: #00bcd9;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
  }
  /*  */

  /* media queries */
  /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
  .img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 896px) 
and (-webkit-min-device-pixel-ratio: 2) { 
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 896px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .img{
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 3em;
    }
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media screen 
  and (device-width: 412px) 
  and (device-height: 915px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Landscape */
@media screen 
  and (device-width: 412px) 
  and (device-height: 915px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}

/* Portrait */
@media screen 
  and (device-width: 720px) 
  and (device-height: 1600px) 
  and (orientation: portrait) {
.img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
  }
}
  /*  */